<html>

<head>
    <title>Campgrounds</title>
</head>

<body>
    <h1>Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Camp</a>
    </div>
    <ul>
        <%for (let campground of campgrounds){%>
            <li>
                <a href="/campgrounds/<%= campground._id%>">
                    <%= campground.title%>
                </a>
            </li>
            <%}%>

    </ul>
</body>

</html>